<%- include('../partials/head') %>

<main class="profile-index">

    <section class="posts-container">
  
        <% profiles.forEach((p) => { %>
        <div id="profile-index" class="project-container">

          <div id="profile-center">
            <div id="profile-show-name">
              <img class="author-pic" alt="avatar" src="<%= p.avatar %>"" referrerpolicy="no-referrer" >
              <h2 class="post-author"><%= p.name %></h2>
            </div>
            <div class="profile-visit">
            <% if (user) { %>
                  <% if (currentProfile) { %>

                    <% if (currentProfile.following) { %>
                            <% let result = false; %>
                            <% currentProfile.following.forEach(function(f) { %>
                              <% if (f.toString() === p._id.toString()) { %> 
                                <% result = true %>
                              <% } %>

                            <% }) %>
                      
                                      <% if (result)  { %>
                                        
                                      <% } else { %>
                                        <% if (currentProfile._id.toString() ===  p._id.toString())  { %>
                                        
                                        <% } else { %>
                                        <a  style="margin-right: .2rem; background-color: rgb(255, 230, 0); color: black;" href="/followings/<%= p._id %>">Follow</a>
                                        <% } %>
                                      <% } %>
                    <% } %>
                        
                  
                    <% }  %>
            <% }  %>
            <a href="/profiles/<%= p._id %>">Profile</a>
            </div>
          </div>    
              
        </div>
        <% }) %>
      </section>

</main>

<%- include('../partials/footer') %>