<%- include('../partials/head') %>

<main class="profile-show">

    <section id="profile-details" class="profile-details">
      <div class="edit-profile">
        <% if (user?._id.equals(profile.user)) { %>
          <a  id="edit-profile" href="/profiles/<%= profile._id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
          <% } %>
      </div>
        <div class="profile-image">
          <img src="<%= profile.avatar %>"" alt="">
        </div>

        <div id="author-profile-details">
            <h3 id="profile-name"><%= profile.name %></h3>
            <p id="profile-location"><%= profile.location %></p>
        </div>
        <div id="profile-content">
            <h3 id="bio-label">Bio:</h3>
            <p id="profile-bio"><%= profile.bio %></p>
        </div>
        <div>
            <h3 id="bio-label">Portfolio: 
              <% if (profile.portfolio) { %>
              <a href="<%= profile.portfolio %>">View</a>
              <% } %>
            </h3>
            <h3 id="bio-label">Github: 
              <% if (profile.github) { %>
              <a href="<%= profile.github %>">View</a>
              <% } %>
            </h3>
            <h3 id="bio-label">LinkedIn: 
              <% if (profile.linkedIn) { %>
              <a href="<%= profile.linkedIn %>">View</a>
              <% } %>
            </h3>
        </div>
    </section>

    <section class="profile-main">
        <h1>Posts</h1>
        <div class="profile-posts">
            <% if (profile.projects) { %>
            <% profile.projects.forEach((p) => { %>
                <div class="project-container">
                  <div class="profile-small project-header">
                    <img class="author-pic" alt="avatar" src="<%= p.userAvatar %>"" referrerpolicy="no-referrer" >
                    <div class="profile-small post-info">
                      <h2 class="post-author"><%= p.userName %></h2>
                      <p class="post-date"><%= p.createdAt.toLocaleDateString() %></p>
                    </div>
                  </div>
                  <div class="project-members">
                    <h4>Members Wanted: </h4>
                    <p><%= p.members %></p>
                  </div>
                  <div class="project-content">
                    <p><%= p.content %></p>
                  </div>
                  <div class="project-footer">
                    <div class="project-details">
                      <a href="/projects/<%= p._id %>">DETAILS</a>
                    </div>
                    <div class="project-delete">
                      <% if (user?._id.equals(p.author)) { %>
                      <form action="/projects/<%= p.id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">X</button>
                      <% } %>
                      </form>
                    </div>
                  </div>
                </div>
                <% }) %>
                <% } %>
        </div>
    </section>

    <section class="profile-followers">
      <h3 id="bio-label">Following</h3>
      <p>
        <% if (profile.following) { %>
          <a class="foll-num" href="/followings/<%= profile.id %>/list"><%= profile.following.length %></a>
        <% } else { %>
            0
        <% } %>
      </p>
      <h3 id="bio-label">Followers</h3>
      <p>
        <% if (profile.followers) { %>
          <a class="foll-num" href="/followers/<%= profile.id %>"><%= profile.followers.length %></a>
        <% } else { %>
            0
        <% } %>
      </p>
        <div class="profile-skills">
          <h3 id="bio-label">Skills</h3>
          <div class="member-form">
              <div>
                <% if (profile.skills.length) { %>
                    <ul>
                      <% profile.skills.forEach(function(s) { %>
                      <li>
                        <div class="skill-section">
                          <div>
                            <%= s.skill %>
                          </div>
                          <div>
                            <% if (user?._id.equals(profile.user)) { %>
                              <form class="delete-skill" action="/skills/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit"><i class="fa-solid fa-xmark"></i> </button>
                              </form>
                              <% } %> 
                          </div>
                        </div>
                      </li>
                      <% }) %>
                    </ul>
                    <% } %>
              </div>
              <% if (user?._id.equals(profile.user)) { %>
                <form id="add-volunteer-form" method="POST"
                  action="/profiles/<%= profile._id %>/skills">
                    <input type="string" name="skill" placeholder="Skills">
                    <input id="add-following" type="submit" value="Add">
                </form>
                <% } %>
          </div>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>