<%- include('../partials/head') %>

<nav>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/projects/<%= project._id %>/">Return</a>
</nav>

<form action="/projects/<%= project.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Content:
        <input type="string" name="content" value="<%=project.content%>">
      </label><br>
      <label>Max Members:
        <input type="number" name="members" value="<%=project.members%>" max="20">
      </label><br>
      <button type="submit">Edit</button>
    </form>
</form>

<%- include('../partials/footer') %>