<%- include('../partials/head') %>

  <main>
    <h2 class="news-title">News</h2>
    <div class="news-container">
        <% for(i = 0; i < 6; i++) { %>
        <div class="news-card">
          
          <div class="news-header">
            <img class="news-image" src="<%= newsInfo.articles[i].urlToImage %>">
          </div>

          <div class="news-content">

            <div class="article-title">
              <h2><%= newsInfo.articles[i].title %></h2>
            </div>

            <p><%= newsInfo.articles[i].description %></p>
          </div>

          <div class="news-footer">
            <a href="<%= newsInfo.articles[i].url %>">Visit</a>
          </div>

        </div>
        <% } %>
    </div>
  </main>

<%- include('../partials/footer') %>